<!--Replaced this with the Angular template for states component of CS142 Project #4
    Problem #2.-->
<div class="myStates"> 
  
  <h1>CS142 Project#4 Problem 2</h1>
  <h2>WELCOME to States!</h2>
  <div class="substring-update">Enter the substring: <input type="text" ng-model="data.substring"></div> 


<div class="list"  ng-app="">

  <div ng-if="!data.substring">
    <ol>
      <li class="untouched" ng-repeat="x in data.array">
	<p> {{ x }} </p>
      </li>
    </ol>
  </div>
  <div ng-if="data.substring">
    <ol>
      <li class="matched" ng-show="x.toLowerCase().includes(data.substring.toLowerCase())"  ng-repeat="x in data.array">
	<p> {{ x }} </p>
      </li>
    </ol>
  </div>
</div>
